extends layout

block content
  
  .page-header
    h1 archived pics
  ul.list-unstyled
    each file in files
      li
        a(href='/archive/'+file)
          = file
block append actions
  a.btn.btn-lg.btn-primary.text-center(href='/') home
