extends layout

block content
  .page-header
    h1 latest image
  if latest
    img.img-rounded.img-responsive(src='/photos/'+latest)
  else
    p No images uploaded!
  
block append actions
  a.btn.btn-lg.btn-primary.text-center(href='/archive') view archive
