doctype 5
html
  head
    title= title
    block stylesheets
      link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
      link(rel='stylesheet', href='/stylesheets/sticky-footer.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #wrap
      .container
        block content
        .actions
          block actions   
    #footer
      .container
        if author
          p.text-muted.credit by 
            a(href=author.website) #{ author.name }
        else
          p.text-muted.credit made with&nbsp;
            span.glyphicon.glyphicon-heart

    block javascripts
      script(src='http://code.jquery.com/jquery-1.10.1.min.js')
      script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
