extends layout

block content
  
  .page-header
    h1 view page
  if exists
    img.img-rounded.img-responsive(src='/photos/' + file)
  else
    h1 No file found :(
    
block append actions
  span
    a.btn.btn-lg.btn-primary.text-center(href='/') home
  | 
  span
    a.btn.btn-lg.btn-primary.text-center(href='/archive') back
