body {
  font: 14px Helvetica, Arial, sans-serif;
}
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
a {
  color: #00B7FF;
}
.actions {
  margin-top: 15px;
  margin-bottom: 15px;
}
